<button class="layout-config-button p-link"  style="top: 33px; right: 20px;" type="button" (click)="onConfigButtonClick()">
    <i class="pi pi-sign-out"></i>
</button>

<p-sidebar [(visible)]="isSidebarOpen" position="right" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" styleClass="layout-config-sidebar w-25rem">
    <div style="  border-bottom: 2px solid #202A44;">
        <h2 style="color: #202A44;">Settings</h2>
        <hr>
    </div>
    <div style=" border-bottom: 1px solid black;">
        <button  class="p-link layout-topbar-button" (click)="logout()" type="submit" style="background: none;color: black;font-size: 14px; font-weight: normal;">
            <span>Log out</span>
            <i class="pi pi-sign-out" style="margin-left: 10px;"></i>
            
        </button>
    </div>
</p-sidebar>
