<div>
    <h3 class="topbartitle mb-5">Manage Services</h3>
    <div class="flex gap-2">
        <button class="mb-5 mr-10" pButton (click)="exportexcel()">
            Download as CSV
        </button>
        <button
            pButton
            class="mb-5 mr-10"
            (click)="showDialog(); mode = 'add'; serviceForm.reset()"
        >
            <i class="pi pi-plus"></i>
            Add a Service
        </button>
    </div>
</div>

<p-table
    [value]="services"
    [tableStyle]="{ 'font-size': '12px' }"
    [styleClass]="class"
    [style]="{ width: '97%' }"
>
    <ng-template pTemplate="header" let-appointmentsHeader>
        <tr>
            <th [style]="{ backgroundColor: '#FFFFFF' }">
                <!-- <input type="checkbox" /> -->
            </th>

            <th pSortableColumn="name" style="background-color: white">
                Service Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="price" style="background-color: white">
                Service Price <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="is_active" style="background-color: white">
                Is Active<p-sortIcon field="is_active"></p-sortIcon>
            </th>
            <th>Modification</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-service>
        <tr *ngIf="services.length > 0">
            <td>
                <input
                    type="checkbox"
                    (change)="onCheckboxChange($event, service)"
                />
            </td>
            <td>{{ service.name }}</td>
            <td>{{ service.price }}</td>
            <td>{{ service.is_active }}</td>
            <td
                style="color: #20e600; cursor: pointer"
                (click)="editService(service)"
            >
                EDIT
            </td>
            <td
                style="color: #ff0303; cursor: pointer"
                (click)="confirm1($event)"
            >
                DELETE
            </td>
        </tr>
    </ng-template>
    <ng-container *ngIf="services.length < 0">
        <tr>
            <td colspan="4">No Services Found</td>
        </tr>
    </ng-container>
</p-table>

<p-dialog
    header="{{ mode === 'add' ? 'ADD A SERVICE' : 'EDIT A SERVICE' }}"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '50vw', height: '350px' }"
    [draggable]="true"
    [resizable]="true"
    [maximizable]="true"
    (onHide)="fetchservicees()"
>
    <form [formGroup]="serviceForm" class="m-0">
        <div class="field">
            <input
                type="text"
                pInputText
                placeholder="Service Name"
                formControlName="name"
                [style]="{ width: '100%' }"
            />
            <small
                id="username-help"
                class="block p-error"
                *ngIf="
                    serviceForm?.get('name')?.invalid &&
                    serviceForm?.get('name')?.dirty
                "
                >Service Name is Required</small
            >
        </div>
        <div class="field">
            <input
                type="text"
                pInputText
                placeholder="Price"
                formControlName="price"
                [style]="{ width: '100%' }"
            />
            <small
                id="username-help"
                class="block p-error"
                *ngIf="
                    serviceForm?.get('price')?.invalid &&
                    serviceForm?.get('price')?.dirty
                "
                >Price is Required. Please enter numbers only</small
            >
        </div>

        <div class="field">
            <p-dropdown
                class="block"
                [style]="{ width: '100%' }"
                [options]="isStatusOptions"
                formControlName="isActive"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Select a Status"
            >
                <ng-template let-service pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ service.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <small
                id="username-help"
                class="block p-error"
                *ngIf="
                    serviceForm?.get('status')?.invalid &&
                    serviceForm?.get('status')?.dirty
                "
                >Status is Required</small
            >
        </div>

        @if(mode === 'add'){
        <button
            pButton
            label="Submit"
            type="submit"
            [disabled]="serviceForm.invalid"
            (click)="addservice()"
        ></button>
        } @if(mode === 'edit'){
        <button
            pButton
            label="Update"
            (click)="updateService()"
            type="submit"
            [disabled]="serviceForm.invalid"
        ></button>
        }
    </form>
</p-dialog>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
