<div class="dashboard">
  <div class="outter">
    <div class="inner">
      <app-topbar title="Patient Management"></app-topbar>
      <!-- router outlet will go -->
      <div class="main-content">
        <div class="icons" style="justify-content: end; padding-right: 30px">
          <i class="pi pi-plus"></i>
          <i class="pi pi-pencil"></i>
          <i class="pi pi-trash"></i>
        </div>
        <p-table
          [value]="patientDetails"
          [styleClass]="class"
          [paginator]="true"
          [rows]="8"
          [tableStyle]="{ 'font-size': '12px' }"
          [rowsPerPageOptions]="[10, 20, 30]"
          [showCurrentPageReport]="true"
          currentPageReportTemplate=" {first} to {last} of {totalRecords}"
          [style]="{ 'margin-top': '30px', width: '97%' }"
        >
          <ng-template pTemplate="header" let-appointmentsHeader>
            <tr>
              <th [style]="{ backgroundColor: '#FFFFFF' }">Patient</th>
              <th [style]="{ backgroundColor: '#FFFFFF' }">Branch</th>
              <th [style]="{ backgroundColor: '#FFFFFF' }">Branch Details</th>
              <th [style]="{ backgroundColor: '#FFFFFF' }">Services</th>
              <th [style]="{ backgroundColor: '#FFFFFF' }">OTP Verification</th>
              <th [style]="{ backgroundColor: '#FFFFFF' }">
                Report Generation Status
              </th>
              <th [style]="{ backgroundColor: '#FFFFFF', textAlign: 'center' }">
                Time
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-patient>
            <tr>
              <td>{{ patient.patientName }}</td>
              <td>{{ patient.branch }}</td>
              <td>{{ patient.branchDetails }}</td>
              <td>{{ patient.services }}</td>
              <td><input type="text" pInputText placeholder="Enter OTP" /></td>
              <td>
                <span
                  [ngClass]="{
                    complete: patient.reportStatus === 'Complete',
                    pending: patient.reportStatus === 'Pending',
                    cancelled: patient.reportStatus === 'Cancelled'
                  }"
                  >{{ patient.reportStatus }}</span
                >
              </td>
              <td style="text-align: right">{{ patient.time }}</td>
            </tr></ng-template
          >
        </p-table>
      </div>
    </div>
  </div>
</div>
