<div class="navbar">
  <div class="logo">
    <img src="../assets/Images/logo.png" alt="clinicx logo" />
    <span>ClinicX</span>
  </div>

  <div class="links">
    <span>Log In</span>
    <span>Sign Up</span>
  </div>
</div>

<!-- <div>
  <h2>Find quick Medical Service around you!</h2>
</div> -->

<div class="rated">
  <h3>Top-rated primary care doctors</h3>
  <p>90% of patients gave these primary care doctors 5 stars</p>
  <p>See more highly-recommended doctors</p>

  <div class="tiles">
    <app-card title="Katie Nemirovsky, DMD" color="#05B4FE" img="pf3" tag="Highly recommended" specialization="Primary Care Doctor" city="New York, NY" rating="4.54" reviews="37" description="Very personable and good listener. Makes you feel comfortable and open immediately. Felt well taken care..."></app-card>
    <app-card title="Katie Nemirovsky, DMD" color="#05B4FE" img="pf2" tag="Highly recommended" specialization="Primary Care Doctor" city="New York, NY" rating="4.85" reviews="1113" description="Very helpful. Made sure all my questions were answered and that I had discussed everything I needed to."></app-card>
    <app-card title="Katie Nemirovsky, DMD" color="#05B4FE" img="pf1" tag="Highly recommended" specialization="Primary Care Doctor" city="New York, NY" rating="4.93" reviews="215" description="Very personable doctor. As a first time patient, he reviewed my history, went over my reasons for visit and..."></app-card>
   
  </div>
</div>

<div class="rated">
  <h3>Doctors with the shortest wait time</h3>
  <p>91% of patients spent less than 30 minutes in the waiting room for these doctors</p>
  <p>See more doctors with excellent wait time</p>

  <div class="tiles">
    <app-card title="Hyun Kyu Song, DDS" color="#61DA83" img="pf4" tag="Highly recommended" specialization="Dentist, Dental Pain Specialist" city="New York, NY" rating="4.54" reviews="37" description="Easy billing process, fast appointment schedule. Great bedside manner and service, can't say enough about this..."></app-card>
    <app-card title="Dr. Garo Nazarian, DDS" color="#61DA83" img="pf6" tag="Highly recommended" specialization="Dentist, Dental Pain Specialist" city="New York, NY" rating="4.92" reviews="112" description="Well.. Honestly I have to say how I felt .. At front desk After the warm welcoming me at front desk (Grate Friendly)..."></app-card>
    <app-card title="Mazen Natour, DMD" color="#61DA83" img="pf5" tag="Excellent wait time" specialization="Prosthodontist, Dentist, Cosmetic Dentist" city="New York, NY" rating="4.82" reviews="250" description=" did not see this doctor. . I did not even see an endodontist, just a DDS who took x-rays and told me I did not need..."></app-card>
   
  </div>
</div>