.navbar {
  width: 85%;
  margin: 20px auto;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar .logo span {
  color: var(--navy);
  font-weight: bold;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}

.navbar .links span {
  margin: 0px 8px;
}

@media screen and (max-width: 980px) {
  .navbar .logo img {
    transform: scale(0.6);
    transition: all 0.5s ease-in;
  }

  .navbar .logo {
    gap: 5px;
  }

  .tiles {
    flex-direction: column;
    gap: 65px;
  }

  .rated {
    margin: 50px auto;
  }

  .specialties {
    flex-direction: column;
    gap: 30px;
  }

  .specialties h3 {
    text-align: center;
  }

  .private, .jobs {
    flex-direction: column;
    gap: 0px;
  }

  .private div{
    margin-top: -40px;
  }

  .partner div {
    display: flex;
    flex-direction: column;
  }
  .moreinfo{
    width: 100%;
    margin: 30px 0px;
    padding: 10px 20px;
  }
}

.rated {
  width: 85%;
  margin: 100px auto;
  text-align: center;
}

.rated h3 {
  font-size: 36px;
  font-family: "Baloo Da 2", sans-serif;
  color: var(--blue);
}

.rated p {
  color: var(--grey);
  margin-top: 15px;
  font-weight: 500;
}

.rated p:last-of-type {
  color: var(--purple);
}

.tiles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.specialties {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: max-content;
}

.specialties h3 {
  font-size: 36px;
  color: var(--blue);
}

.specialties .types {
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 12rem));
}

.specialties .types div {
  width: 150px;
  height: 150px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 25px;
  /* background-color: var(--lightgrey); */
  background-color: beige;
}

.specialties .types div span {
  font-weight: 700;
  color: var(--blue);
}

.specialties .types div svg {
  margin: 0 auto;
}

.landingBtn {
  padding: 10px 20px;
  border: 0;
  outline: 0;
  color: white;
  background: var(--purple);
  border-radius: 25px;
  font-family: "Baloo Da 2", sans-serif;
  margin-top: 30px;
  font-weight: 700;
}

.private,
.partner,
.moreinfo, .jobs {
  width: 85%;
  margin: 30px auto;
  margin-top: 120px;
  color: var(--blue);
}

.private, .jobs {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.partner,
.moreinfo {
  text-align: center;
}

.partner div img {
  margin: 10px 20px;
}

.private div p,
.partner p,
.moreinfo p , .jobs div p{
  font-family: "Baloo Da 2", sans-serif;
  font-weight: 700;
}

.private div h3,
.partner h3, .jobs div h3 {
  font-size: 36px;
  font-weight: 800;
}

.private div ul {
  padding-left: 15px;
}

.common{
  width: 85%;
}

.common,
.find,
.find div {
  display: flex;
  justify-content: space-between;
}

.find div {
  flex-direction: column;
}

.common p,
.find div p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.common p:before,
.find div p:before {
  display: inline-block;
  content: "";
  background-image: url("../assets/Images/leftarrow.png");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.moreinfo{
  background-color: var(--lightgrey);
  padding: 20px 40px;
  border-radius: 25px;
}