<div>
    <h3 class="topbartitle mb-5">Manage Users</h3>
     <button class="mb-5 mr-10" pButton (click)="exportexcel()">
            Download as CSV
        </button>
    <div class="icons">
        <div (click)="showDialog(); mode = 'add'; userForm.reset()">
            <i class="pi pi-plus"></i>
        </div>
        <i class="pi pi-download" style="cursor: pointer"></i>
        <div (click)="confirm1($event)">
            <i class="pi pi-trash"></i>
        </div>
    </div>
</div>

<p-table
    [value]="users"
    [styleClass]="class"
    [paginator]="true"
    [rows]="8"
    [tableStyle]="{ 'font-size': '12px' }"
    [rowsPerPageOptions]="[10, 20, 30]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate=" {first} to {last} of {totalRecords}"
    [style]="{ 'margin-top': '30px', width: '97%' }"
>
    <ng-template pTemplate="header" let-doctor>
        <tr>
            <th></th>
            <th [style]="{ backgroundColor: '#FFFFFF' }">First Name</th>
            <th [style]="{ backgroundColor: '#FFFFFF' }">Last Name</th>
            <th [style]="{ backgroundColor: '#FFFFFF' }">Email</th>
            <th [style]="{ backgroundColor: '#FFFFFF' }">Phone Number</th>

            <th [style]="{ backgroundColor: '#FFFFFF' }">Gender</th>

            <th [style]="{ backgroundColor: '#FFFFFF' }">Marital Status</th>

            <th
                [style]="{
                    backgroundColor: '#FFFFFF',

                }"
            >
                Date of Birth
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>
                <input
                    type="checkbox"
                    (change)="onCheckboxChange($event, user)"
                />
            </td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.gender }}</td>
            <!-- <td>{{ user.role }}</td> -->
            <td>{{ user.marital_status }}</td>
            <td>{{ user.date_of_birth }}</td>
            <td
                style="color: #20e600; cursor: pointer"
                (click)="editUser(user)"
            >
                EDIT
            </td>
        </tr></ng-template
    >
          </p-table
>

<p-dialog
    header="{{ mode === 'add' ? 'ADD A USER' : 'EDIT A USER' }}"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '50vw', height: '350px' }"
    [draggable]="true"
    [resizable]="true"
    [maximizable]="true"
    (onHide)="fetchuseres()"
>
    <form [formGroup]="userForm" class="m-0">
        <div class="field">
            <input
                type="text"
                pInputText
                placeholder=" First First_name"
                formControlName="first_name"
                [style]="{ width: '100%' }"
            />
            <small
                id="userfirst_name-help"
                class="block p-error"
                *ngIf="
                    userForm?.get('first_name')?.invalid &&
                    userForm?.get('first_name')?.dirty
                "
            >
                First_name is Required</small
            >
        </div>

        <div class="field">
            <input
                type="text"
                pInputText
                placeholder=" Last_name"
                formControlName="last_name"
                [style]="{ width: '100%' }"
            />
            <small
                id="userlast_name-help"
                class="block p-error"
                *ngIf="
                    userForm?.get('last_name')?.invalid &&
                    userForm?.get('last_name')?.dirty
                "
            >
                Last_name is Required</small
            >
        </div>
        <div class="field">
            <p-password
                placeholder="Password"
                formControlName="password"
                [style]="{ width: '100%' }"
            ></p-password>

            <small
                id="userphone_number-help"
                class="block p-error"
                *ngIf="
                    userForm?.get('password')?.invalid &&
                    userForm?.get('password')?.dirty
                "
            >
                Phone_number is Required</small
            >
        </div>
        <div class="field">
            <input
                type="text"
                pInputText
                placeholder="  Email"
                formControlName="email"
                [style]="{ width: '100%' }"
            />
            <small
                id="useremail-help"
                class="block p-error"
                *ngIf="
                    userForm?.get('email')?.invalid &&
                    userForm?.get('email')?.dirty
                "
            >
                Email is Required</small
            >
        </div>
        <div class="field">
            <input
                type="text"
                pInputText
                placeholder="  Phone_number"
                formControlName="phone_number"
                [style]="{ width: '100%' }"
            />
            <small
                id="userphone_number-help"
                class="block p-error"
                *ngIf="
                    userForm?.get('phone_number')?.invalid &&
                    userForm?.get('phone_number')?.dirty
                "
            >
                Phone_number is Required</small
            >
        </div>

        <div class="field">
            <p-dropdown
                class="block"
                [style]="{ width: '100%' }"
                [options]="maritalOptions"
                formControlName="isActive"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="  Marital_status"
                formControlName="marital_status"
            >
                <ng-template let-service pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ service.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <small
                id="marital_status-help"
                class="block p-error"
                *ngIf="
                    userForm?.get('marital_status')?.invalid &&
                    userForm?.get('marital_status')?.dirty
                "
            >
                Marital_status is Required</small
            >
        </div>
        <div class="field">
            <p-dropdown
                class="block"
                [style]="{ width: '100%' }"
                [options]="genderOptions"
                formControlName="isActive"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="  Gender"
                formControlName="gender"
            >
                <ng-template let-service pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ service.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <small
                id="usergender-help"
                class="block p-error"
                *ngIf="
                    userForm?.get('gender')?.invalid &&
                    userForm?.get('gender')?.dirty
                "
            >
                Gender is Required</small
            >
        </div>

        <div class="field">
            <input
                type="date"
                formControlName="date_of_birth"
                pInputText
                placeholder=" Date_of_birth"
                [style]="{ width: '100%' }"
            />
            <small
                id="userdate_of_birth-help"
                class="block p-error"
                *ngIf="
                    (userForm?.get('date_of_birth')?.invalid &&
                    userForm?.get('date_of_birth')?.dirty &&
                    !userForm?.get('date_of_birth')?.errors?.futureDate) ||
                    (userForm?.get('date_of_birth')?.errors?.required &&
                    userForm?.get('date_of_birth')?.touched)
                "
            >
                <span *ngIf="userForm?.get('date_of_birth')?.errors?.required">
                    Date_of_birth is Required
                </span>
                <span *ngIf="userForm?.get('date_of_birth')?.errors?.futureDate">
                    Date_of_birth must not be a future date
                </span>
            </small>
        </div>
        

        @if(mode === 'add'){
        <button
            pButton
            label="Submit"
            type="submit"
            [disabled]="userForm.invalid"
            (click)="adduser()"
        ></button>
        } @if(mode === 'edit'){
        <button
            pButton
            label="Update"
            (click)="updateUser()"
            type="submit"
            [disabled]="userForm.invalid"
        ></button>
        }
    </form>
</p-dialog>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
