.dashboard {
  background: linear-gradient(
    118.7deg,
    #d8d2fc 17.58%,
    #d8d2fc 17.58%,
    #d8d2fc 17.59%,
    #fde2e0 41.89%,
    #e6e4ea 68%,
    #e0e9f4 103.34%,
    rgba(230, 225, 232, 0) 103.35%,
    #e0e9f4 103.35%
  );
  width: 100%;
  height: 100%;
}

.outter {
  background-color: white;
  height: 90%;
  width: 90%;
  opacity: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner {
  background: radial-gradient(
    43.3% 107.22% at 51.09% 40.44%,
    #eff2f6 0%,
    #f6e3eb 47.58%,
    #d5deed 93.12%
  );
    height: 100%;
  width: 90%;
  position: absolute;
  right: 0;
  opacity: 30%;
}