<div class="homeContainer"><div class="navbar">
  <div class="logo">
    <img src="assets/demo/images/PREVIOUS/logo.png" alt="clinicx logo" />
    <span>ClinicX</span>
  </div>

  <div class="links">
    <span><a href="login">Log In</a></span>
    <span><a href="register">Sign Up</a></span>
  </div>
</div>

<div class="medicalform">
  <h2>Find quick Medical Service around you!</h2>

    <form [formGroup]="appointmentsForm" class="m-0">
        <div class="field">
            <p-dropdown
                class="block"
                [style]="{ width: '100%' }"
                [options]="doctors"
                formControlName="doctor_id"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Doctor Name"
            >
                <ng-template let-service pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ service.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <small
                id="userfirst_name-help"
                class="block p-error"
                *ngIf="
                    appointmentsForm?.get('doctor_id')?.invalid &&
                    appointmentsForm?.get('doctor_id')?.dirty
                "
            >
                Doctor Name is Required</small
            >
        </div>
        <div class="field">
            <p-dropdown
                class="block"
                [style]="{ width: '100%' }"
                [options]="patients"
                formControlName="patient_id"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Patient Name"
            >
                <ng-template let-service pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ service.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <small
                id="userfirst_name-help"
                class="block p-error"
                *ngIf="
                    appointmentsForm?.get('patient_id')?.invalid &&
                    appointmentsForm?.get('patient_id')?.dirty
                "
            >
                Patient Name is Required</small
            >
        </div>
        <div class="field">
            <p-dropdown
                class="block"
                [style]="{ width: '100%' }"
                [options]="services"
                formControlName="service_id"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Service Name"
            >
                <ng-template let-service pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ service.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <small
                id="userfirst_name-help"
                class="block p-error"
                *ngIf="
                    appointmentsForm?.get('service_id')?.invalid &&
                    appointmentsForm?.get('service_id')?.dirty
                "
            >
                Service Name is Required</small
            >
        </div>

        <div class="field">
            <input
                type="date"
                formControlName="appointment_date"
                pInputText
                placeholder=" appointment_date"
                [style]="{ width: '100%' }"
            />
            <small
                id="userdate_of_birth-help"
                class="block p-error"
                *ngIf="
                    (appointmentsForm?.get('appointment_date')?.invalid &&
                    appointmentsForm?.get('appointment_date')?.dirty &&
                    !appointmentsForm?.get('appointment_date')?.errors?.futureDate) ||
                    (appointmentsForm?.get('appointment_date')?.errors?.required &&
                    appointmentsForm?.get('appointment_date')?.touched)
                "
            >
                <span *ngIf="appointmentsForm?.get('appointment_date')?.errors?.required">
                    Date_of_birth is Required
                </span>
                <span *ngIf="appointmentsForm?.get('appointment_date')?.errors?.futureDate">
                    Appointment_date must not be a future date
                </span>
            </small>
        </div>
        <div class="field">
            <input
                type="time"
                pInputText
                placeholder="Patient appoinment_time"
                formControlName="appointment_time"
                [style]="{ width: '100%' }"
            />
            <small
                id="userappointment_date-help"
                class="block p-error"
                *ngIf="
                    appointmentsForm?.get('appointment_time').invalid &&
                    appointmentsForm?.get('appointment_time')?.dirty
                "
            >
                Appointment_time is Required</small
            >
        </div>
        
        <div class="field">
            <input
                type="text"
                pInputText
                placeholder="reason"
                formControlName="reason"
                [style]="{ width: '100%' }"
            />
            <small
                id="userappointment_date-help"
                class="block p-error"
                *ngIf="
                    appointmentsForm?.get('reason')?.invalid &&
                    appointmentsForm?.get('reason')?.dirty
                "
            >
                Reason is Required</small
            >
        </div>
        @if(mode === 'add'){
        <button
            pButton
            label="Submit"
            type="submit"
            [disabled]="appointmentsForm.invalid"
            (click)="addappointments()"
        ></button>
        } @if(mode === 'edit'){
        <button
            pButton
            label="Update"
            (click)="updateAppointments()"
            type="submit"
            [disabled]="appointmentsForm.invalid"
        ></button>
        }
    </form>
</div>

<div class="rated">
  <h3>Top-rated primary care doctors</h3>
  <p>90% of patients gave these primary care doctors 5 stars</p>
  <p>See more highly-recommended doctors</p>

  <div class="tiles">
<div class="plaque">
    <p class="title">Katie Nemirovsky, DMD</p>
    <div class="tag" style="background-color: #05B4FE; color: #ffffff;">Highly recommended</div>
  
    <div class="details">
        <p>Primary Care Doctor</p>
        <p>New York, NY</p>
        <p><span class="rating"><img src="../../../../assets/demo/images/PREVIOUS/PREVIOUS/star.png" alt="star" />4.54</span> 37 reviews</p>
    </div>
  
    <p class="description">Very personable and good listener. Makes you feel comfortable and open immediately. Felt well taken care...</p>
    <img class="descriptionimg" src="../../../../assets/demo/images/PREVIOUS/pf3.png" alt="doctors">
</div>

<div class="plaque">
    <p class="title">Katie Nemirovsky, DMD</p>
    <div class="tag" style="background-color: #05B4FE; color: #ffffff;">Highly recommended</div>
  
    <div class="details">
        <p>Primary Care Doctor</p>
        <p>New York, NY</p>
        <p><span class="rating"><img src="../../../../assets/demo/images/PREVIOUS/star.png" alt="star" />4.85</span> 1113 reviews</p>
    </div>
  
    <p class="description">Very helpful. Made sure all my questions were answered and that I had discussed everything I needed to.</p>
    <img class="descriptionimg" src="../../../../assets/demo/images/PREVIOUS/pf2.png" alt="doctors">
</div>

<div class="plaque">
    <p class="title">Katie Nemirovsky, DMD</p>
    <div class="tag" style="background-color: #05B4FE; color: #ffffff;">Highly recommended</div>
  
    <div class="details">
        <p>Primary Care Doctor</p>
        <p>New York, NY</p>
        <p><span class="rating"><img src="../../../../assets/demo/images/PREVIOUS/star.png" alt="star" />4.93</span> 215 reviews</p>
    </div>
  
    <p class="description">Very personable doctor. As a first time patient, he reviewed my history, went over my reasons for visit and...</p>
    <img class="descriptionimg" src="../../../../assets/demo/images/PREVIOUS/pf1.png" alt="doctors">
</div>

</div>

<div class="rated">
  <h3>Doctors with the shortest wait time</h3>
  <p>
    91% of patients spent less than 30 minutes in the waiting room for these
    doctors
  </p>
  <p>See more doctors with excellent wait time</p>

  <div class="tiles">
  <div class="plaque">
    <p class="title">Hyun Kyu Song, DDS</p>
    <div class="tag" style="background-color: #61DA83; color: #ffffff;">Highly recommended</div>
  
    <div class="details">
        <p>Dentist, Dental Pain Specialist</p>
        <p>New York, NY</p>
        <p><span class="rating"><img src="../../../../assets/demo/images/PREVIOUS/star.png"></span>
  
    <p class="description">Easy billing process, fast appointment schedule. Great bedside manner and service, can't say enough about this...</p>
    <img class="descriptionimg" src="../../../../assets/demo/images/PREVIOUS/pf4.png" alt="doctors"/>
    </div>
</div>

<div class="plaque">
    <p class="title">Dr. Garo Nazarian, DDS</p>
    <div class="tag" style="background-color: #61DA83; color: #ffffff;">Highly recommended</div>
  
    <div class="details">
        <p>Dentist, Dental Pain Specialist</p>
        <p>New York, NY</p>
        <p><span class="rating"><img src="../../../../assets/demo/images/PREVIOUS/star.png" alt="star" />4.92</span> 112 reviews</p>
    </div>
  
    <p class="description">Well.. Honestly I have to say how I felt .. At front desk After the warm welcoming me at front desk (Grate Friendly)...</p>
    <img class="descriptionimg" src="../../../../assets/demo/images/PREVIOUS/pf6.png" alt="doctors">
</div>

<div class="plaque">
    <p class="title">Mazen Natour, DMD</p>
    <div class="tag" style="background-color: #61DA83; color: #ffffff;">Excellent wait time</div>
  
    <div class="details">
        <p>Prosthodontist, Dentist, Cosmetic Dentist</p>
        <p>New York, NY</p>
        <p><span class="rating"><img src="../../../../assets/demo/images/PREVIOUS/star.png" alt="star" />4.82</span> 250 reviews</p>
    </div>
  
    <p class="description">did not see this doctor. . I did not even see an endodontist, just a DDS who took x-rays and told me I did not need...</p>
    <img class="descriptionimg" src="../../../../assets/demo/images/PREVIOUS/pf5.png" alt="doctors">
</div>

</div>

<div class="specialties">
  <h3>Top-searched specialties</h3>
  <div class="types">
    <div>
      <img src="assets/demo/images/PREVIOUS/Clinic.png" alt="Primary Care" />

      <span>Primary Care</span>
    </div>
    <div>
      <img src="assets/demo/images/PREVIOUS/Tooth.png" alt="Dentist" />

      <span>Dentist</span>
    </div>
    <div>
      <img src="assets/demo/images/PREVIOUS/Closed Eye.png" alt="Eye Doctor" />

      <span>Eye Doctor</span>
    </div>
    <div>
      <img src="assets/demo/images/PREVIOUS/Schizophrenia.png" alt="Psychiatrist" />

      <span>Psychiatrist</span>
    </div>
    <div>
      <img src="assets/demo/images/PREVIOUS/Skin.png" alt="Dermatologist" />

      <span>Dermatologist</span>
    </div>
    <div>
      <img src="assets/demo/images/PREVIOUS/Pram.png" alt="obygn" />
      <span>OB-GYB</span>
    </div>
  </div>
</div>

<div class="private">
  <img src="assets/demo/images/PREVIOUS/privateclinic.png" alt="top privateclinic" />
  <div>
    <p>ClinicX for private practices</p>
    <h3>Are you a provider interested in reaching new patients?</h3>
    <ul>
      <li>Reach patients in your area looking for a new provider</li>
      <li>Fill last-minute openings in your schedule</li>
      <li>Strengthen your online reputation with verified reviews</li>
    </ul>
    <button class="landingBtn">List your practice on ClinicX</button>
  </div>
</div>

<div class="partner">
  <p>ClinicX for private practices</p>
  <h3>Are you a provider interested in reaching new patients?</h3>

  <div>
    <img src="assets/demo/images/PREVIOUS/partner1.png" alt="partner1" />
    <img src="assets/demo/images/PREVIOUS/partner2.png" alt="partner2" />
  </div>
  <button class="landingBtn">Partner with ClinicX</button>
</div>

<div class="moreinfo">
  <p>Find doctors and dentists by city</p>
  <div class="find">
    <div>
      <p>Nairobi</p>
      <p>Lamu</p>
      <p>Kisumu</p>
      <p>Msa</p>
    </div>
    <div>
      <p>Nairobi</p>
      <p>Lamu</p>
      <p>Kisumu</p>
      <p>Msa</p>
    </div>
    <div>
      <p>Nairobi</p>
      <p>Lamu</p>
      <p>Kisumu</p>
      <p>Msa</p>
    </div>
    <div>
      <p>Nairobi</p>
      <p>Lamu</p>
      <p>Kisumu</p>
      <p>Msa</p>
    </div>
    <div>
      <p>Nairobi</p>
      <p>Lamu</p>
      <p>Kisumu</p>
      <p>Msa</p>
    </div>
  </div>
  <p>Common Visits</p>
  <div class="common">
    <p>Medical</p>
    <p>Dental</p>
    <p>Mental Health</p>
    <p>Vision</p>
  </div>
</div>

<div class="jobs">
  <div>
    <p>ClinicX jobs</p>
    <h3>Join us, and help transform healthcare for everyone.</h3>
    <button class="landingBtn">View job openings</button>
  </div>

  <img src="assets/demo/images/PREVIOUS/jobs.png" alt="careers" />
</div>

<div class="map">
  <img src="assets/demo/images/PREVIOUS/branchesmap.png" alt="worldwide map" />
</div>

<div class="footer">
  <div class="footerlogo">
    <img src="assets/demo/images/PREVIOUS/footerlogo.png" alt="footerlogo" />
    <p>© 2024 ClinicX, Inc.</p>
  </div>
  <div class="footerinfo">
    <p>Terms</p>
    <p>Privacy</p>
    <p>Do not sell my personal information</p>
    <p>Site map</p>
  </div>
  <div class="socials">
    <img src="assets/demo/images/PREVIOUS/Facebook.png" alt="Facebook" />
    <img src="assets/demo/images/PREVIOUS/Instagram.png" alt="Instagram" />
    <img src="assets/demo/images/PREVIOUS/LinkedIn 4.png" alt="LinkedIn" />
    <img src="assets/demo/images/PREVIOUS/Twitter.png" alt="Twitter" />
  </div>
</div>
 </div>
 <p-toast></p-toast>