<div class="homeContainer"><div class="navbar">
  <div class="logo">
    <img src="assets/demo/images/PREVIOUS/logo.png" alt="clinicx logo" />
    <span>ClinicX</span>
  </div>

  <div class="links">
    <span><a href="login">Log In</a></span>
    <span><a href="register">Sign Up</a></span>
  </div>
</div>

<div class="medicalform">
  <h2>Find quick Medical Service around you!</h2>

  <form>
    <input type="text" placeholder="Condition, doctor" />
    <input type="text" placeholder="Address" />
    <input type="text" placeholder="Branch" />
    <input type="text" placeholder="Insurance" />
    <button class="landingBtn">Search</button>
  </form>
</div>

<div class="rated">
  <h3>Top-rated primary care doctors</h3>
  <p>90% of patients gave these primary care doctors 5 stars</p>
  <p>See more highly-recommended doctors</p>

  <div class="tiles">
    <!-- <div
      title="Katie Nemirovsky, DMD"
      color="#05B4FE"
      img="pf3"
      tag="Highly recommended"
      specialization="Primary Care Doctor"
      city="New York, NY"
      rating="4.54"
      reviews="37"
      description="Very personable and good listener. Makes you feel comfortable and open immediately. Felt well taken care..."
    >
  </div>
    <div
      title="Katie Nemirovsky, DMD"
      color="#05B4FE"
      img="pf2"
      tag="Highly recommended"
      specialization="Primary Care Doctor"
      city="New York, NY"
      rating="4.85"
      reviews="1113"
      description="Very helpful. Made sure all my questions were answered and that I had discussed everything I needed to."
    ></div>
    <div
      title="Katie Nemirovsky, DMD"
      color="#05B4FE"
      img="pf1"
      tag="Highly recommended"
      specialization="Primary Care Doctor"
      city="New York, NY"
      rating="4.93"
      reviews="215"
      description="Very personable doctor. As a first time patient, he reviewed my history, went over my reasons for visit and..."
    ></div>
  </div> -->
</div>

<div class="rated">
  <h3>Doctors with the shortest wait time</h3>
  <p>
    91% of patients spent less than 30 minutes in the waiting room for these
    doctors
  </p>
  <p>See more doctors with excellent wait time</p>

  <div class="tiles">
    <div
      title="Hyun Kyu Song, DDS"
      color="#61DA83"
      img="pf4"
      tag="Highly recommended"
      specialization="Dentist, Dental Pain Specialist"
      city="New York, NY"
      rating="4.54"
      reviews="37"
      description="Easy billing process, fast appointment schedule. Great bedside manner and service, can't say enough about this..."
    ></div>
    <div
      title="Dr. Garo Nazarian, DDS"
      color="#61DA83"
      img="pf6"
      tag="Highly recommended"
      specialization="Dentist, Dental Pain Specialist"
      city="New York, NY"
      rating="4.92"
      reviews="112"
      description="Well.. Honestly I have to say how I felt .. At front desk After the warm welcoming me at front desk (Grate Friendly)..."
    ></div>
    <div
      title="Mazen Natour, DMD"
      color="#61DA83"
      img="pf5"
      tag="Excellent wait time"
      specialization="Prosthodontist, Dentist, Cosmetic Dentist"
      city="New York, NY"
      rating="4.82"
      reviews="250"
      description=" did not see this doctor. . I did not even see an endodontist, just a DDS who took x-rays and told me I did not need..."
    ></div>
  </div>
</div>

<div class="specialties">
  <h3>Top-searched specialties</h3>
  <div class="types">
    <div>
      <img src="assets/demo/images/PREVIOUS/Clinic.png" alt="Primary Care" />

      <span>Primary Care</span>
    </div>
    <div>
      <img src="assets/demo/images/PREVIOUS/Tooth.png" alt="Dentist" />

      <span>Dentist</span>
    </div>
    <div>
      <img src="assets/demo/images/PREVIOUS/Closed Eye.png" alt="Eye Doctor" />

      <span>Eye Doctor</span>
    </div>
    <div>
      <img src="assets/demo/images/PREVIOUS/Schizophrenia.png" alt="Psychiatrist" />

      <span>Psychiatrist</span>
    </div>
    <div>
      <img src="assets/demo/images/PREVIOUS/Skin.png" alt="Dermatologist" />

      <span>Dermatologist</span>
    </div>
    <div>
      <img src="assets/demo/images/PREVIOUS/Pram.png" alt="obygn" />
      <span>OB-GYB</span>
    </div>
  </div>
</div>

<div class="private">
  <img src="assets/demo/images/PREVIOUS/privateclinic.png" alt="top privateclinic" />
  <div>
    <p>ClinicX for private practices</p>
    <h3>Are you a provider interested in reaching new patients?</h3>
    <ul>
      <li>Reach patients in your area looking for a new provider</li>
      <li>Fill last-minute openings in your schedule</li>
      <li>Strengthen your online reputation with verified reviews</li>
    </ul>
    <button class="landingBtn">List your practice on ClinicX</button>
  </div>
</div>

<div class="partner">
  <p>ClinicX for private practices</p>
  <h3>Are you a provider interested in reaching new patients?</h3>

  <div>
    <img src="assets/demo/images/PREVIOUS/partner1.png" alt="partner1" />
    <img src="assets/demo/images/PREVIOUS/partner2.png" alt="partner2" />
  </div>
  <button class="landingBtn">Partner with ClinicX</button>
</div>

<div class="moreinfo">
  <p>Find doctors and dentists by city</p>
  <div class="find">
    <div>
      <p>Nairobi</p>
      <p>Lamu</p>
      <p>Kisumu</p>
      <p>Msa</p>
    </div>
    <div>
      <p>Nairobi</p>
      <p>Lamu</p>
      <p>Kisumu</p>
      <p>Msa</p>
    </div>
    <div>
      <p>Nairobi</p>
      <p>Lamu</p>
      <p>Kisumu</p>
      <p>Msa</p>
    </div>
    <div>
      <p>Nairobi</p>
      <p>Lamu</p>
      <p>Kisumu</p>
      <p>Msa</p>
    </div>
    <div>
      <p>Nairobi</p>
      <p>Lamu</p>
      <p>Kisumu</p>
      <p>Msa</p>
    </div>
  </div>
  <p>Common Visits</p>
  <div class="common">
    <p>Medical</p>
    <p>Dental</p>
    <p>Mental Health</p>
    <p>Vision</p>
  </div>
</div>

<div class="jobs">
  <div>
    <p>ClinicX jobs</p>
    <h3>Join us, and help transform healthcare for everyone.</h3>
    <button class="landingBtn">View job openings</button>
  </div>

  <img src="assets/demo/images/PREVIOUS/jobs.png" alt="careers" />
</div>

<div class="map">
  <img src="assets/demo/images/PREVIOUS/branchesmap.png" alt="worldwide map" />
</div>

<div class="footer">
  <div class="footerlogo">
    <img src="assets/demo/images/PREVIOUS/footerlogo.png" alt="footerlogo" />
    <p>© 2024 ClinicX, Inc.</p>
  </div>
  <div class="footerinfo">
    <p>Terms</p>
    <p>Privacy</p>
    <p>Do not sell my personal information</p>
    <p>Site map</p>
  </div>
  <div class="socials">
    <img src="assets/demo/images/PREVIOUS/Facebook.png" alt="Facebook" />
    <img src="assets/demo/images/PREVIOUS/Instagram.png" alt="Instagram" />
    <img src="assets/demo/images/PREVIOUS/LinkedIn 4.png" alt="LinkedIn" />
    <img src="assets/demo/images/PREVIOUS/Twitter.png" alt="Twitter" />
  </div>
</div>
 </div>