<div class="loginContainer">
  <div class="outter">
    <div class="inner"></div>
  </div>

  <div class="logincontent">
    <h3>LOGIN</h3>
    <p>Please login to get started</p>
    <form>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input type="text" pInputText placeholder="UserName" />
      </span>
      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <input type="text" pInputText placeholder="Password" />
      </span>
      <button pButton>Login</button>
    </form>
  </div>

  <div class="loginimage">
    <div class="glass">
      <p>ClinicX, the best medical service for you!</p>
      <img
        class="glassimg1"
        src="../../../../assets/Images/women with tab 1.png"
        alt="woman with tab"
      />
      <img class="glassimg2" alt="lightbulb" src="../../../../assets/Images/lightbulb.png"/>
    </div>
  </div>
</div>
