<div class="dashboard">
  <div class="outter">
    <div class="inner">
      <app-topbar title="Branch Management"></app-topbar>
      <!-- router outlet will go -->
      <div class="main-content">
        <div class="maps">
          <img
            src="../../../assets/Images/kenyanmap.png"
            height="120px"
            alt="map of kenya"
            style="margin-right: 20px"
          />
          <img
            src="../../../assets/Images/branchcounties.png"
            height="120px"
            alt="branches in kenya"
          />
        </div>
        <p-table
          [value]="branches"
          [tableStyle]="{ 'font-size': '12px' }"
          [styleClass]="class"
          [style]="{ 'margin-top': '30px', width: '97%' }"
        >
          <ng-template pTemplate="header" let-appointmentsHeader>
            <tr>
              <th [style]="{ backgroundColor: '#FFFFFF' }">
                <input type="checkbox" />
              </th>
         
              <th pSortableColumn="code" style="width: 20%; background-color: white;">
                Name <p-sortIcon field="code"></p-sortIcon>
              </th>
              <th pSortableColumn="code" style="width: 20%; background-color: white;">
              Description <p-sortIcon field="code"></p-sortIcon>
              </th>
               <th pSortableColumn="code" style="width: 20%; background-color: white;">
                Address<p-sortIcon field="code"></p-sortIcon>
              </th>
               <th pSortableColumn="code" style="width: 20%; background-color: white;">
                Number <p-sortIcon field="code"></p-sortIcon>
               </th>
                <th pSortableColumn="code" style="width: 20%; background-color: white;">
                Longitude<p-sortIcon field="code"></p-sortIcon>
              </th>
               <th pSortableColumn="code" style="width: 20%; background-color: white;">
                Langitude <p-sortIcon field="code"></p-sortIcon>  </th>
               <!-- </th> <th pSortableColumn="code" style="width: 20%; background-color: white;">
                Status <p-sortIcon field="code"></p-sortIcon>
               </th> -->
              <th [style]="{ backgroundColor: '#FFFFFF' }">Modification</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-branch>
            <tr>
              <td><input type="checkbox" (change)="onCheckboxChange($event, branch)" /></td>
              <td>{{ branch.name }}</td>
              <td>{{ branch.description }}</td>
              <td>{{ branch.address }}</td>
              <td>{{ branch.phone_number }}</td>
              <td>{{ branch.longitude }}</td>
              <td>{{ branch.latitude }}</td>
              <!-- <td>
                <span
                  [ngClass]="{
                    active: branch.status === 'active',
                    inactive: branch.status === 'Inactive'
                  }"
                  >{{ branch.status }}</span
                >
              </td> -->
              <td style="color: #20e600">EDIT</td>
              <td style="color: #ff0303; cursor: pointer;" (click)="deleteSelectedBranches()">DELETE</td>
            </tr></ng-template
          >
        </p-table>
      </div>
    </div>
  </div>
</div>
