/* You can add global styles to this file, and also import other style files */
:root{
 --navy: #271E4A;
 --blue: #12175E;
 --grey: #65677B;
 --purple: #5B67CA;
 --teal: #05B4FE;
 --gold: #FFB800;
 --subtitle: #00000066;
 --lightgrey: #F6F6F6;
}


*{
 font-family: 'Yantramanav', sans-serif;
}

body{
 width: 100%;
 overflow-x: hidden;
 background: linear-gradient(180deg, #D9D8FF 0%, rgba(255, 187, 187, 0.838515) 16.15%, rgba(255, 217, 201, 0.661424) 39.07%, rgba(255, 228, 228, 0) 100%);

}