<div>
    <h3 class="topbartitle mb-5">Manage Payments</h3>
    <div class="icons">
        <div (click)="showDialog(); mode = 'add'; paymentsForm.reset()">
            <i class="pi pi-plus"></i>
        </div>
        <i class="pi pi-download" style="cursor: pointer"></i>
        <div (click)="confirm1($event)">
            <i class="pi pi-trash"></i>
        </div>
    </div>
</div>

<p-table
    [value]="payments"
    [styleClass]="class"
    [paginator]="true"
    [rows]="8"
    [tableStyle]="{ 'font-size': '12px' }"
    [rowsPerPageOptions]="[10, 20, 30]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate=" {first} to {last} of {totalRecords}"
    [style]="{ 'margin-top': '30px', width: '97%' }"
>
    <ng-template pTemplate="header" let-doctor>
        <tr>
            <th></th>
            <th [style]="{ backgroundColor: '#FFFFFF' }">First Name</th>
            <th [style]="{ backgroundColor: '#FFFFFF' }">Last Name</th>
            <th [style]="{ backgroundColor: '#FFFFFF' }">Amount</th>
            <th [style]="{ backgroundColor: '#FFFFFF' }">Phone Number</th>

            <th [style]="{ backgroundColor: '#FFFFFF' }">Gender</th>

            <th [style]="{ backgroundColor: '#FFFFFF' }">Marital Status</th>

            <th
                [style]="{
                    backgroundColor: '#FFFFFF',

                }"
            >
                Date of Birth
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-payments>
        <tr>
            <td>
                <input
                    type="checkbox"
                    (change)="onCheckboxChange($event, payments)"
                />
            </td>
            <td>{{ payments.payment_date }}</td>
            <td>{{ payments.payment_type }}</td>
            <td>{{ payments.amount }}</td>
            <td>{{ payments.appointment_id }}</td>
            <td
                style="color: #20e600; cursor: pointer"
                (click)="editPayments(payments)"
            >
                EDIT
            </td>
        </tr></ng-template
    >
          </p-table
>

<p-dialog
    header="{{ mode === 'add' ? 'ADD A PAYMENTS' : 'EDIT A PAYMENTS' }}"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '50vw', height: '350px' }"
    [draggable]="true"
    [resizable]="true"
    [maximizable]="true"
    (onHide)="fetchpaymentses()"
>
    <form [formGroup]="paymentsForm" class="m-0">
        <div class="field">
            <input
                type="text"
                pInputText
                placeholder=" First Payment_date"
                formControlName="payment_date"
                [style]="{ width: '100%' }"
            />
            <small
                id="paymentspayment_date-help"
                class="block p-error"
                *ngIf="
                    paymentsForm?.get('payment_date')?.invalid &&
                    paymentsForm?.get('payment_date')?.dirty
                "
            >
                Payment_date is Required</small
            >
        </div>

       

        <div class="field">
            <p-dropdown
                class="block"
                [style]="{ width: '100%' }"
                [options]="appointments"
                formControlName="isActive"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="  Appointment_id"
                formControlName="appointment_id"
            >
                <ng-template let-service pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ service.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <small
                id="appointment_id-help"
                class="block p-error"
                *ngIf="
                    paymentsForm?.get('appointment_id')?.invalid &&
                    paymentsForm?.get('appointment_id')?.dirty
                "
            >
                Appointment_id is Required</small
            >
        </div>
         <div class="field">
            <input
                type="text"
                pInputText
                placeholder="  Amount"
                formControlName="amount"
                [style]="{ width: '100%' }"
            />
            <small
                id="paymentsamount-help"
                class="block p-error"
                *ngIf="
                    paymentsForm?.get('amount')?.invalid &&
                    paymentsForm?.get('amount')?.dirty
                "
            >
                Amount is Required</small
            >
        </div>
                <div class="field">
            <input
            type="text"
            pInputText
                placeholder="Payment_mode"
                formControlName="payment_mode"
                [style]="{ width: '100%' }"
            />

            <small
                id="paymentsphone_number-help"
                class="block p-error"
                *ngIf="
                    paymentsForm?.get('payment_mode')?.invalid &&
                    paymentsForm?.get('payment_mode')?.dirty
                "
            >
                Payment_mode is Required</small
            >
        </div>
       
        @if(mode === 'add'){
        <button
            pButton
            label="Submit"
            type="submit"
            [disabled]="paymentsForm.invalid"
            (click)="addpayments()"
        ></button>
        } @if(mode === 'edit'){
        <button
            pButton
            label="Update"
            (click)="updatePayments()"
            type="submit"
            [disabled]="paymentsForm.invalid"
        ></button>
        }
    </form>
</p-dialog>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
